
.CanvasPad{
  border: solid 1px white;
  padding-left: 0;
  height: 600px;
}

.CanvasPad h2 {
  margin-bottom: 0.2em;
  padding-left: 0.5em;
}

.CanvasView{
  padding-right: 4em;
}

.containerTabs {
  width: 100%;
  padding: 8px;
  padding-left: 0px;
  display: flex;
  border-bottom: 1px solid white;
}

.tabButton {
  padding: 0;
  margin: 4px 8px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  border-bottom: 2px solid transparent;
  transition: color 0.2s;
}
.tabButton:hover {
  color: blue;
}
.tabButtonActive {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}