body {
  background-color: black;
  color: white;
}

.HeaderApp {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-top: 0.5em;
  border-bottom: solid 1px white;
}

.MainContent{
  display: grid;
  grid-template-columns: 300px 1fr;
}
